.newsRecommend {
    position: absolute;
    width: 345px;
    height: 296px;
    top: 689px;
    left: 266px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: var(--1);
  }
  
  .titleWrapper {
    display: flex;
    flex-direction: column;
    width: 154px;
    align-items: flex-start;
    gap: 60px;
    position: absolute;
    top: 30px;
    left: 40px;
  }
  
  .titleContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
  }
  
  .titleMain {
    font-family: "Pretendard Variable-Bold", Helvetica;
    font-weight: 700;
    color: #38465a;
    font-size: 20px;
    white-space: nowrap;
  }
  
  .titleSub {
    font-family: "Pretendard Variable-Bold", Helvetica;
    font-weight: 700;
    color: #38465a;
    font-size: 16px;
    white-space: nowrap;
  }
  
  .contentWrapper {
    position: absolute;
    width: 285px;
    height: 197px;
    top: 84px;
    left: 40px;
  }
  
  .backgroundImage {
    position: absolute;
    width: 147px;
    height: 196px;
    top: -10px;
    left: 138px;
  }
  
  .newsList {
    display: flex;
    flex-direction: column;
    width: 272px;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .newsItem {
    position: relative;
    width: 100%;
    height: 59px;
  }
  
  .newsText {
    position: absolute;
    width: 283px;
    top: -1px;
    left: 0;
    font-family: "Pretendard Variable-Regular", Helvetica;
    font-weight: 400;
    color: #38465a;
    font-size: 16px;
  }
  
  .newsTime {
    position: absolute;
    width: 322px;
    top: 41px;
    left: 0;
    font-family: "Pretendard Variable-Regular", Helvetica;
    font-weight: 400;
    color: #93acdd;
    font-size: 14px;
  }
  .group14 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 138px;
    left: 315px;
    box-shadow: var(--);
  }
  
  .overlap8 {
    position: relative;
    height: 20px;
  }
  
  .ellipse4 {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 4px;
    background-color: #6b89ff;
    border-radius: 6px;
  }
  
  .subtract {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
  }
  
  .vector3 {
    position: absolute;
    width: 6px;
    height: 10px;
    top: 5px;
    left: 7px;
  }
  