.div-wrapper .group-14 {
    position: absolute;
    width: 720px;
    height: 270px;
    top: 716px;
    left: 266px;
    background-color: #ffffffcc;
    border-radius: 25px;
    box-shadow: var(--1);
}

.div-wrapper .group-15 {
    position: relative;
    width: 635px;
    height: 210px;
    top: 30px;
    left: 40px;
}

.div-wrapper .text-wrapper-13 {
    position: absolute;
    height: 29px;
    top: 0;
    left: 0;
    font-family: "Pretendard Variable-Bold", Helvetica;
    font-weight: 700;
    color: #38465a;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.div-wrapper .frame-2 {
    display: inline-flex;
    align-items: center;
    gap: 50px;
    position: absolute;
    top: 59px;
    left: 0;
}

.div-wrapper .group-16 {
    position: relative;
    width: 177.83px;
    height: 150.34px;
}

.div-wrapper .overlap-1 {
    position: relative;
    width: 250px;
    height: 172px;
    top: -14px;
    left: -36px;
    background-image: url(https://c.animaapp.com/EtEiTaGN/img/image-83@2x.png);
    background-size: cover;
    background-position: 50% 50%;
}

.div-wrapper .group-17 {
    position: relative;
    width: 88px;
    height: 36px;
    top: 129px;
    left: 36px;
}

.div-wrapper .text-wrapper-14 {
    position: absolute;
    height: 19px;
    top: 0;
    left: 0;
    font-family: "Pretendard Variable-Bold", Helvetica;
    font-weight: 700;
    color: #38465a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.div-wrapper .text-wrapper-15 {
    position: absolute;
    height: 14px;
    top: 22px;
    left: 0;
    font-family: "Pretendard Variable-Regular", Helvetica;
    font-weight: 400;
    color: #38465a;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.div-wrapper .overlap-2 {
    position: relative;
    width: 250px;
    height: 172px;
    top: -14px;
    left: -36px;
    background-image: url(https://c.animaapp.com/EtEiTaGN/img/image-84@2x.png);
    background-size: cover;
    background-position: 50% 50%;
}

.div-wrapper .overlap-wrapper {
    position: relative;
    width: 176.96px;
    height: 150.9px;
}

.div-wrapper .overlap-3 {
    position: relative;
    width: 249px;
    height: 172px;
    top: -14px;
    left: -36px;
    background-image: url(https://c.animaapp.com/EtEiTaGN/img/image-85@2x.png);
    background-size: cover;
    background-position: 50% 50%;
}