<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="box">
    <div class="group">
        <div class="frame">
            <div class="div">
                <p class="p"><span class="text-wrapper">종목</span> <span class="span">▽</span></p>
                <div class="frame-2">
                    <div class="text-wrapper-2">애플</div>
                    <div class="text-wrapper-3">애플</div>
                    <div class="text-wrapper-3">애플</div>
                    <div class="text-wrapper-3">애플</div>
                    <div class="text-wrapper-3">애플</div>
                </div>
            </div>
            <div class="frame-3">
                <p class="div-2"><span class="text-wrapper">그래프</span> <span class="span">▽</span></p>
                <div class="frame-4">
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                    <div class="rectangle"></div>
                </div>
            </div>
            <div class="frame-5">
                <p class="div-3"><span class="text-wrapper">등락폭</span> <span class="span">▽</span></p>
                <div class="frame-6">
                    <div class="text-wrapper-4">3%</div>
                    <div class="text-wrapper-5">3%</div>
                    <div class="text-wrapper-6">3%</div>
                    <div class="text-wrapper-5">3%</div>
                    <div class="text-wrapper-6">3%</div>
                </div>
            </div>
            <div class="frame-7">
                <p class="div-4"><span class="text-wrapper">안전성</span> <span class="span">▽</span></p>
                <div class="frame-2">
                    <div class="text-wrapper-4">5.5점</div>
                    <div class="text-wrapper-5">5.5점</div>
                    <div class="text-wrapper-6">5.5점</div>
                    <div class="text-wrapper-5">5.5점</div>
                    <div class="text-wrapper-6">5.5점</div>
                </div>
            </div>
            <div class="frame-8">
                <p class="div-5"><span class="text-wrapper">실적발표날짜</span> <span class="span">▽</span></p>
                <div class="frame-2">
                    <div class="text-wrapper-2">2024년 8월 21일</div>
                    <div class="text-wrapper-3">2024년 8월 21일</div>
                    <div class="text-wrapper-3">2024년 8월 21일</div>
                    <div class="text-wrapper-3">2024년 8월 21일</div>
                    <div class="text-wrapper-3">2024년 8월 21일</div>
                </div>
            </div>
            <div class="frame-9">
                <p class="div-6"><span class="text-wrapper">나의 희망가격</span> <span class="span">▽</span></p>
                <div class="frame-10">
                    <div class="text-wrapper-2">300$</div>
                    <div class="text-wrapper-3">300$</div>
                    <div class="text-wrapper-3">300$</div>
                    <div class="text-wrapper-3">300$</div>
                    <div class="text-wrapper-3">300$</div>
                </div>
            </div>
            <div class="frame-9">
                <p class="ai"><span class="text-wrapper">ai기준가능성</span> <span class="span">▽</span></p>
                <div class="frame-11">
                    <div class="text-wrapper-7">80%</div>
                    <div class="text-wrapper-8">80%</div>
                    <div class="text-wrapper-8">80%</div>
                    <div class="text-wrapper-8">80%</div>
                    <div class="text-wrapper-8">80%</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
